@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: theme('colors.neutral.50');
  --color-background-secondary: theme('colors.neutral.100');
  --color-background-tertiary: theme('colors.neutral.200');
  --color-foreground: theme('colors.neutral.900');
  --color-subtext: theme('colors.neutral.600');
  --color-border: theme('colors.neutral.200');
  --color-border-secondary: rgba(0, 0, 0, 0.1);
  --color-primary: theme('colors.emerald.600');
  --color-primary-hover: theme('colors.emerald.700');
  --color-gray: theme('colors.gray.500');
  --color-gray-hover: theme('colors.gray.600');
  --color-danger: theme('colors.red.500');
  --color-danger-hover: theme('colors.red.700');
  --color-neutral: theme('colors.neutral.200');
  --color-neutral-hover: theme('colors.neutral.300');
  --color-accent: theme('colors.green.500');
  --color-accent-hover: theme('colors.green.600');
  --color-overlay: rgba(23, 23, 23, 0.5);
  --color-highlight: theme('colors.yellow.100');
  --color-heart: theme('colors.red.500');
  --color-link: theme('colors.blue.600');
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: theme('colors.neutral.950');
    --color-background-secondary: #101010;
    --color-background-tertiary: theme('colors.neutral.900');
    --color-foreground: theme('colors.neutral.50');
    --color-subtext: theme('colors.neutral.400');
    --color-border: theme('colors.neutral.800');
    --color-border-secondary: rgba(255, 255, 255, 0.1);
    --color-primary: theme('colors.emerald.800');
    --color-primary-hover: theme('colors.emerald.700');
    --color-gray: theme('colors.gray.500');
    --color-gray-hover: theme('colors.gray.600');
    --color-danger: theme('colors.red.500');
    --color-danger-hover: theme('colors.red.700');
    --color-neutral: theme('colors.neutral.900');
    --color-neutral-hover: theme('colors.neutral.800');
    --color-accent: theme('colors.green.950');
    --color-accent-hover: theme('colors.green.900');
    --color-overlay: rgba(23, 23, 23, 0.5);
    --color-highlight: theme('colors.emerald.950');
    --color-heart: theme('colors.red.500');
    --color-link: theme('colors.blue.400');
  }

  * {
    scrollbar-color: #5c5c5c #1a1a1a;
  }
  ::-webkit-scrollbar {
    width: auto;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #5c5c5c;
  }
  ::-webkit-scrollbar-track {
    background-color: #1a1a1a;
  }
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}

input,
textarea,
select {
  outline: none;
}

:disabled {
  opacity: 0.5;
}

.material-symbols-rounded {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.divider-label {
  background: var(--color-background-secondary);
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.middle-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 1rem;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

/* .sidebar {
  @media (max-width: 768px) {
    display: none;
  }
} */
